header{
    height:750px;
    width:100%;
    background-image: url("background.jpg");
    background-size:cover;
    text-align: center;
    font-family:'Raleway', sans-serif;
}
p{
    line-height: 2.5
}
body{
    background-color: turquoise
}
title{
     text-shadow: 2px 2px 4px #000000;
}