header{
    height:600px;
    width:100%;
    background-image: url("background.jpg");
    background-size:cover;
    text-align: center;
    font-family:'Raleway', sans-serif;
}
/*Team*/
.team{
    margin-top:80px;
    margin-bottom:80px;
    text-align:center;
}
.team img{
    width:250px;
    height:250px;
    /*Object fit will crop and center image based on width and height*/
    object-fit:cover;
    border-radius:150%;
    margin-bottom:50px;
}
.Upcoming events.html{
    body style=background-color:#FF0000;
}
.aboutus {
    text-align: center;
}
.stats{
    text-align: center;
}
body{
    background-color: orange;
}
h5{
    font-style: italic;
}
.partners span{
    width:200px;
    display: inline-block;
}